<header class="text-gray-600 body-font py-10">
  <div class="container mx-auto flex p-5 flex-row items-center">
    <nav
      class="flex lg:w-2/5 flex-wrap items-center self-center text-base md:ml-auto"
    ></nav>
    <a
      class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center md:mb-0"
    >
      <img
        class="w-10 h-10 bg-green-500 rounded-full"
        src="assets/img/logo/logo.png"
        alt="Caatinga logo"
      />
      <span class="ml-3 text-xl">Caatinga.me</span>
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0"></div>
  </div>
  <app-nav-bar></app-nav-bar>
</header>
