<section class="text-gray-600 body-font">
  <div class="container flex flex-wrap px-5 py-10 mx-auto items-center lg:items-center lg:justify-center">
    <div class="md:w-1/2 md:pr-12 md:py-8  mb-10 md:mb-0 pb-10 ">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
        Conheça mais sobre as árvores da caatinga
      </h1>
      <p class="leading-relaxed text-base">
        A caatinga é o mais fragilizado dos biomas brasileiros. O uso
        insustentável de seus solos e recursos naturais ao longo de centenas de
        anos de ocupação, associado à imagem de local pobre e seco, fazem com
        que a caatinga esteja bastante degradada.
      </p>
      <a (click)="redirect()"
         class="text-green-500 inline-flex items-center mt-4">Ver lista
        <svg class="w-4 h-4 ml-2"
             fill="none"
             stroke="currentColor"
             stroke-linecap="round"
             stroke-linejoin="round"
             stroke-width="2"
             viewBox="0 0 24 24">
          <path d="M5 12h14m-7-7 7 7-7 7" />
        </svg>

      </a>
    </div>
  </div>
</section>
