<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a routerLink="/home" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Caatinga</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a routerLink="/home" class="mr-5 hover:text-gray-900">Home</a>
      <a routerLink="/arvores" class="mr-5 hover:text-gray-900">Lista</a>

    </nav>
  </div>
</header>

<div class="container px-5 py-24 mx-auto">
  <form *ngIf="arvore" class="container" [formGroup]="arvoreUpdateForm" #arvoreUpdateFormId="ngForm">

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="singleName" class="leading-7 text-sm font-medium text-gray-700">Nome</label><span *ngIf="singleName.errors?.['required']" class="font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">*</span> <span *ngIf="!singleName.errors?.['required']" class="font-medium tracking-wide text-gray-700 text-xs mt-1 ml-1">*</span>
      <input [(ngModel)]="arvore.singleName" type="text" formControlName="singleName" minlength="2" maxlength="32" required class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      <span *ngIf="singleName.errors?.['required']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">O nome da árvore/arbusto não pode ser nula/vazia</span>
      <span *ngIf="singleName.errors?.['minlength']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Nome deve conter entre 2 and 32 caracteres</span>
      <span *ngIf="singleName.errors?.['maxlenght']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Nome deve conter entre 2 and 32 caracteres</span>
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="family" class="leading-7 text-sm font-medium text-gray-700">Família</label><span *ngIf="family.errors?.['required']" class="font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">*</span> <span *ngIf="!family.errors?.['required']" class="font-medium tracking-wide text-gray-700 text-xs mt-1 ml-1">*</span>
      <input [(ngModel)]="arvore.family" type="text" name="family" formControlName="family" minlength="2" maxlength="32" required class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      <span *ngIf="family.errors?.['required']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">A família da árvore/arbusto não pode ser nula/vazia</span>
      <span *ngIf="family.errors?.['minlength']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Família deve conter entre 2 e 32 caracteres</span>
      <span *ngIf="family.errors?.['maxlenght']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Família deve conter entre 2 e 32 caracteres</span>
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="botanicalName" class="leading-7 text-sm font-medium text-gray-700">Taxonomia</label><span *ngIf="botanicalName.errors?.['required']" class="font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">*</span> <span *ngIf="!botanicalName.errors?.['required']" class="font-medium tracking-wide text-gray-700 text-xs mt-1 ml-1">*</span>
      <input [(ngModel)]="arvore.botanicalName" type="text" name="botanicalName" formControlName="botanicalName" minlength="2" maxlength="32" required class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      <span *ngIf="botanicalName.errors?.['required']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Taxonomia da árvore/arbusto não pode ser nula/vazia</span>
      <span *ngIf="botanicalName.errors?.['minlength']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Taxonomia deve conter entre 2 e 32 caracteres</span>
      <span *ngIf="botanicalName.errors?.['maxlenght']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Taxonomia deve conter entre 2 e 32 caracteres</span>
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="popularName" class="leading-7 text-sm font-medium text-gray-700">Nomes populares:</label>
      <input [(ngModel)]="arvore.popularName" formControlName="popularName" type="text" name="popularName" required class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="nameMeaning" class="leading-7 text-sm font-medium text-gray-700">Significado dos nomes populares:</label>
      <input [(ngModel)]="arvore.nameMeaning" formControlName="nameMeaning" type="text" name="nameMeaning" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="generalDescription" class="leading-7 text-sm font-medium text-gray-700">Descrição da planta</label><span *ngIf="generalDescription.errors?.['required']" class="font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">*</span> <span *ngIf="!generalDescription.errors?.['required']" class="font-medium tracking-wide text-gray-700 text-xs mt-1 ml-1">*</span>
      <textarea [(ngModel)]="arvore.generalDescription" type="text" name="generalDescription" formControlName="generalDescription" minlength="100" maxlength="10000" required class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"></textarea>
      <span *ngIf="generalDescription.errors?.['required']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">A descrição geral da árvore/arbusto não pode ser nula/vazia</span>
      <span *ngIf="generalDescription.errors?.['minlength']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Descrição geral deve conter entre 100 e 10000 caracteres</span>
      <span *ngIf="generalDescription.errors?.['maxlenght']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">Descrição geral deve conter entre 100 e 10000 caracteres</span>
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="specialDescription" class="leading-7 text-sm font-medium text-gray-700">Como reconhecer a planta:</label>
      <input [(ngModel)]="arvore.specialDescription" formControlName="specialDescription" type="text" name="specialDescription" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="whereOccurs" class="leading-7 text-sm font-medium text-gray-700">Ocorrência e amplitude ecológica:</label>
      <input [(ngModel)]="arvore.whereOccurs" formControlName="whereOccurs" type="text" name="whereOccurs" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="ecologicalInfo" class="leading-7 text-sm font-medium text-gray-700">Informações ecológicas:</label>
      <input [(ngModel)]="arvore.ecologicalInfo" formControlName="ecologicalInfo" type="text" name="ecologicalInfo" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="phenologicalInfo" class="leading-7 text-sm font-medium text-gray-700">Informações fenológicas:</label>
      <input [(ngModel)]="arvore.phenologicalInfo" formControlName="phenologicalInfo" type="text" name="phenologicalInfo" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="propagation" class="leading-7 text-sm font-medium text-gray-700">Propagação:</label>
      <input [(ngModel)]="arvore.propagation" formControlName="propagation" type="text" name="propagation" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="managementGuide" class="leading-7 text-sm font-medium text-gray-700">Guia de manejo:</label>
      <input [(ngModel)]="arvore.managementGuide" formControlName="managementGuide" type="text" name="managementGuide" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="utilities" class="leading-7 text-sm font-medium text-gray-700">Utilidades:</label>
      <input [(ngModel)]="arvore.utilities" formControlName="utilities" type="text" name="utilities" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="relative mt-3 w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
      <label for="culturalImportance" class="leading-7 text-sm font-medium text-gray-700">Importância cultural:</label>
      <input [(ngModel)]="arvore.culturalImportance" formControlName="culturalImportance" type="text" name="culturalImportance" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
    </div>

    <div class="mt-10 flex justify-center">
      <button [disabled]="arvoreUpdateFormId.invalid" (click)="update()" class="inline-flex mr-20 text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Save</button>
      <button [routerLink]="['/home']" class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">Back</button>
    </div>

  </form>
</div>

<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Caatinga</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 Caatinga —
      <a href="https://github.com/hil-beer-t" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@hil_beer_t</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">


      <a href="https://github.com/hil-beer-t" class="ml-3 text-gray-500">
        <svg svg fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
        </svg>
      </a>
      <a href="https://www.instagram.com/hil_beer_t/" class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/hilbert-dig%C3%AAnio/" class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>


