<app-header></app-header>
<section [ngClass]="{
      'animate-pulse': haveTree === false
    }"
         class="text-gray-600 py-10 body-font">
  <div class="container px-5 mx-auto flex flex-wrap">
    <div class="container lg:w-2/3 mx-auto">
      <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
        <picture *ngIf="tree.singleName">
          <source [srcset]="
              relativePath +
              '\\' +
              tree.singleName +
              '\\' +
              tree.singleName +
              'Top-desktop.jpg'
            "
                  media="(min-width: 1024px)" />
          <img class="w-full object-cover h-full object-center block absolute inset-0"
               [src]="
              relativePath +
              '\\' +
              tree.singleName +
              '\\' +
              tree.singleName +
              'Top-mobile.jpg'
            "
               alt="{{ tree.singleName }}" />
        </picture>
      </div>
      <div class="flex flex-wrap -mx-2">
        <div class="px-2 w-1/2 h-1/2">
          <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
            <picture *ngIf="tree.singleName">
              <source [srcset]="
                  relativePath +
                  '\\' +
                  tree.singleName +
                  '\\' +
                  tree.singleName +
                  'Left-desktop.jpg'
                "
                      media="(min-width: 1024px)" />
              <img class="w-full object-cover h-full object-center block absolute inset-0"
                   [src]="
                  relativePath +
                  '\\' +
                  tree.singleName +
                  '\\' +
                  tree.singleName +
                  'Left-mobile.jpg'
                "
                   alt="{{ tree.singleName }}" />
            </picture>
          </div>
        </div>
        <div class="px-2 w-1/2 h-1/2">
          <div class="flex flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
            <picture *ngIf="tree.singleName">
              <source [srcset]="
                  relativePath +
                  '\\' +
                  tree.singleName +
                  '\\' +
                  tree.singleName +
                  'Right-desktop.jpg'
                "
                      media="(min-width: 1024px)" />
              <img class="w-full object-cover h-full object-center block absolute inset-0"
                   [src]="
                  relativePath +
                  '\\' +
                  tree.singleName +
                  '\\' +
                  tree.singleName +
                  'Right-mobile.jpg'
                "
                   alt="{{ tree.singleName }}" />
            </picture>
            <div class="text-center relative z-10 w-full"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container px-5 mx-auto flex flex-wrap"
     [ngClass]="{
  'animate-pulse': haveTree === false
}">
  <div class="container lg:w-2/3 mx-auto">
    <article class="flex flex-col shadow my-4">
      <div class="bg-white flex flex-col justify-start p-6">
        <h1 class="sm:text-4xl text-2xl font-medium title-font mb-2 text-gray-900">
          {{this.route.snapshot.paramMap.get('singleName')}}
        </h1>
        <h2 class="font-medium mb-2 text-gray-900">
          <i>{{ tree.botanicalName }}</i>
        </h2>
        <div class="h-1 w-20 bg-green-500 rounded mb-6"></div>

        <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">Família</h1>
        <h2 class="pb-3 leading-relaxed lg:leading-loose text-gray-500">{{ tree.family }}</h2>

        <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
          Nomes populares
        </h1>
        <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">{{ tree.popularName }}</p>

        <div *ngIf="tree.nameMeaning">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
            Significado dos nomes populares
          </h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.nameMeaning }}
          </p>
        </div>

        <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
          Descrição da planta
        </h1>
        <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
          {{ tree.generalDescription }}
        </p>

        <div *ngIf="tree.specialDescription">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
            Como reconhecer a planta
          </h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.specialDescription }}
          </p>
        </div>

        <div *ngIf="tree.whereOccurs">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
            Ocorrência e amplitude ecológica
          </h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.whereOccurs }}
          </p>
        </div>

        <div *ngIf="tree.ecologicalInfo">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
            Informações ecológicas
          </h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.ecologicalInfo }}
          </p>
        </div>

        <div *ngIf="tree.phenologicalInfo">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
            Informações fenológicas
          </h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.phenologicalInfo }}
          </p>
        </div>

        <div *ngIf="tree.propagation">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">Propagação</h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.propagation }}
          </p>
        </div>

        <div *ngIf="tree.managementGuide">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
            Guia de manejo
          </h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.managementGuide }}
          </p>
        </div>

        <div *ngIf="tree.utilities">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">Utilidades</h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">{{ tree.utilities }}</p>
        </div>

        <div *ngIf="tree.culturalImportance">
          <h1 class="sm:text-2xl font-medium mb-2 text-gray-900">
            Importância cultural
          </h1>
          <p class="pb-3 leading-relaxed lg:leading-loose text-gray-500">
            {{ tree.culturalImportance }}
          </p>
        </div>
      </div>
    </article>

    <div class="flex justify-center">
      <div class="p-2 w-full">
        <a routerLink="/trees">
          <button
                  class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">
            Voltar
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
