.image_container {
  position: relative; width: 100px; height: 100px; overflow: hidden; border-radius: 50%;
}

.img { width: 100%; height: auto; padding-top: 10px; margin-bottom: -10px;}

.header_caatinga {
  margin-bottom: -60px;
}
